.card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(255, 255, 255, 0.41);
    transform: translateY(70px); /* Initial transform position */

}

  /* Add these styles to animate the card when "aos-animate" class is present */
  .card.aos-init.aos-animate {
    transition: transform 0.5s ease, opacity 0.3s ease;
    transform: translateY(0);
    opacity: 1;
  }
  
.card img{
    width: 150px;
    height: 150px;
    /* text-align: center;
    padding:10px; */
    margin-bottom: 12px;
    transition: 0.3s ease-in-out;
}
.card img:hover{
    transition: 0.3s ease-in-out;
     transform:scale(1.1) ;
}
.swal2-theme-dark {
    background-color: #1a1a1a;
    color: #fff;
  }
  
.card_img {
    height: 120px;
    width: 120px;
    border-radius: 10px;
}

.navbar-brand {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}

.navbar {
    background-color: #ff2c2c
}

.nav-img {
    border-radius: 50%;
    border: 2px solid #ff2c2c;
    height: 55px;
    width: 55px;
}
.search-container {
    display: flex;
    align-items: center;
    transition: all 0.3s;
}

.nav-text {
    text-align: center;
    color: white;
}
.seartbox{
    border-color: #ff2c2c;
}
.nav-body {
    text-align: center;
}

.card-title {
    color: white;
    font-weight: bold;
}

.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff2c2c;
    width: 50px;
    height: 50px;
    right: 5px;
    margin-top: 5px;
    color: white;
    border: none;
    outline: none;
    border-radius: 50%;
}

.icon-cart__badge {
    position: absolute;
    top: 3px;
    right: 4px;
    width: 17px;
    height: 17px;
    background: white;
    color: #ff2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.counter {
    float: right;
    color: white;
    margin-top: 14px;
    background-color: #ff2c2c;
    padding: 2px;
    border-radius: 5px;
    /* padding:3px; */
}

.minus {
    background-color: #ff2c2c;
    border: none;
    font-size: 21px;
    font-weight: bold;
}

.plus {
    background-color: #ff2c2c;
    border: none;
    font-size: 21px;
    font-weight: bold;
    padding: 5px;

}

.result {
    font-weight: bolder;
    font-size: 20px;
    color: white !important;
    background-color: #ff2c2c;
    /* padding:1.5px; */
    border-radius: 7px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 20px !important;
}

div.scrollmenu {
    /* background-color: #333; */
    overflow: auto;
    white-space: nowrap;
    /* overflow: hidden; */
}

div.scrollmenu .nav-body {
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}

.main-header {
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
}

.main-header.hidden {
  opacity: 0;
}

.search-block {
  width: 0%;
  right: 0;
  position: fixed;
  top: 0;
  z-index: 11;
  transition: all 250ms ease-in-out;
  background: #fff;
}

.mat-toolbar {
  background-color: #ff2c2c;
  padding-top: 10px;
  padding-bottom: 5px;
}
.ss{
  text-align: right;
  margin-right: 20px;
}
.example-margin{
  margin-left: 5px;
}
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar.search-block mat-icon {
  color: white;
}
.search-block.active {
  width: 100%;
}

.search-block .search-control {
  flex: 1;
  font-size: 1rem;
  border: 0;
  outline: none;
  padding-left: 10px;
}
