<body class="text-center" data-aos-easing="ease-out-back" data-aos-duration="1000" data-aos-delay="0">1
    
    <main class="form-signin w-100 m-auto">

        <img class="mb-4" src="assets/img/poster.jpg" alt="" width="200" height="180" style="border-radius: 20px;">
        <h1 class=" h1 mb-3 fw-normal text-white"><img class="mb-4" src="https://inseatfood.in/order/assets/img/logonew.png" alt="" width="50" height="50">Inseatfood</h1>

        <!-- <button class="w-100 order-btn btn btn-lg btn-primary" type="submit">Tap to order</button> -->
        <button class="w-100 btn btn-lg btn-primary order-btn" routerLink="/user_details" type="button">Tap to order</button>
        <br>
        <br>
        <button class="w-50 btn btn-md btn-primary order-btn" routerLink="/tracking_details" type="button">Tracking Details</button>

    </main>
        
</body>