.mt-5 {
    margin-top: -9rem !important;
}
.navbar-brand {
    margin-left: 10px;
    color: white;
    font-weight: bold;
}
.progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .progress-spinner {
    width: 50px;
    height: 50px;
  }
  
.navbar {
    background-color: #ff2c2c;
    height: 70px;

}
.nav-img {
    border-radius: 50%;
    border: 2px solid #ff2c2c;
    height: 55px;
    width: 55px;
}
.nav-text {
    text-align: center;
    color: white;
}
.nav-body {
    text-align: center;
}

/* sign-in css */
body {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    padding-top: 3.5%;
    height: 100vh;
    font-family: initial;
    overflow: hidden;
    background-color: #1a1a1a;
}
.outer-card {
    margin: 35px;
    /* margin-top: 50px; */
    top: 10px;
    overflow: hidden;

}

.error-text {
    color: #fff;
    font-size: 12px;
    margin-top: 4px;
  }
.note-text {
    font-size: 15px;
    font-family: 'Dongle', sans-serif;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
}
.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.order-btn {
    background: #ff2c2cd6;
    /* box-shadow: 3px 2px 11px 5px #00000094; */
    border: black;
    padding: 11px 13px 8px;
    font-family: unset;
    border-radius: 7px;
}

.form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(68 68 68 / 0%)!important;
}

.form-control {
    background-color: #2c2c2c!important;
    border: var(--bs-border-width) solid #9b9b9b!important;
    color: white !important;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}

.bi {
    vertical-align: -.125em;
    fill: currentColor;
}

.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.card {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 16px;
    /* margin-top: 1000px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgb(255 255 255 / 15%);
}

:host ::ng-deep .table {
    --bs-table-bg: #1a1a1a;
    --bs-table-color: #929292;
  }

@media screen and (min-width:992px) {
    .mob-nav {
        display: none;
    }
}


@media screen and (max-width:991px) {
    .lap-nav {
        display: none;
    }
}